


<div class="jumbotron">
	<div class="container">
	  <h1>Hello, world!</h1>
	  <p>...</p>
	  <p><a class="btn btn-default" href="#" role="button">
	  <span class="glyphicon glyphicon-tree-conifer" style="color:green;"></span>
	  Seguir a Kevin</a></p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
				<div class="page-header">
 					 <h2>Example page header</h2>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est </p>
		</div>
		<div class="col-md-4">
				<div class="page-header">
 				 	<h2>Example page header</h2>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="col-md-4">
				<div class="page-header">
 				 	<h2>Example page header</h2>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<a href="http://www.cosasdegatos.es/alimentacion-gatos/5-cosas-que-debes-saber-sobre-la-comida-del-gato">
				<img src="https://scontent.faep3-1.fna.fbcdn.net/v/t34.0-12/18622970_2032979626727570_1325249956_n.jpg?oh=69764451030a1c63b319a498d4b4ce23&oe=59301440"
				alt="foto kevin oficial" class="img-responsive">

			</a>
		<hr>
		<ul>
			<li>item1</li>
			<li>item2</li>
		</ul>
		</div>
	</div>
</div>